<script>
    function CopyFunction(item_class_name){
        var copyTarget = document.getElementsByClassName(item_class_name)[0];
        navigator.clipboard.writeText(copyTarget.textContent);
    }
</script>
<div class="block  card my-3">
    <div class="container m-3">
        <div class="block-datetime mb-2">
            {{item.datetime}}
        </div>
        <div class="block-name d-flex">
            <div>
                {% if item.score > 9 and item.item.sales_rate > 90 %}
                <div style="width: 30px; height: 30px; background: red;"></div>
                {% elif item.score > 8 or item.item.sales_rate > 80 %}
                <div style="width: 30px; height: 30px; background-color: orange;"></div>
                {% elif item.score >= 7 or item.item.sales_rate >= 70 %}
                <div style="width: 30px; height: 30px; background: yellow;"></div>
                {% else %}
                <div style="width: 30px; height: 30px; background: skyblue;"></div>
                {% endif %}
            </div>
            <div style="margin:auto 5px;">
                <h3>{{item.score}}点</h3>
            </div>
            <div>
                <h3 class="item-name{{item.id}}">
                    {{item.item.name}}
                </h3>
            </div>
        </div>
        <div class="block-value my-3">
            <div class="d-flex justify-content-around">
                <div>
                    <h3>利益: {{item.profit}}円</h3>
                </div>
                <div>
                    <h3>販売価格: {{item.price}}円</h3>
                </div>
                <div>
                    <h3>平均価格: {{item.item.average_price}}円</h3>
                </div>
                <div>
                    <h3>販売率: {{item.item.sales_rate}}%</h3>
                </div>
            </div>
        </div>
        <div class="block-button">
            <div class="d-flex justify-content-around">
                <button class="btn btn-primary copy{{item.id}}" onclick='CopyFunction("item-name{{item.id}}")'>商品名をコピーする</button>
                <a class="btn btn-primary" href="https://jp.mercari.com/search?keyword={{item.item.name|urlencode}}&t2_category_id=72&page=1&t1_category_id=5&category_id={{item.item.category.book_category_id}}&t3_category_id={{item.item.category.book_category_id}}" target="_blank">商品一覧を見る</a>
                <a class="btn btn-primary" href="#">Itemを編集</a>

            </div>
    
        </div>
    </div>
</div>